.PostItem {
    margin-bottom: 2em;
    padding: 0.5em 1em;
    background: #f3f3f3;
    border-radius: 5px;
}

.PostItem-title {
    text-transform: capitalize;
}

.PostItem-author {
    font-size: 0.8em;
}

.PostItem-navigation {
    display: flex;
    justify-content: flex-end;
}

.PostItem-link {
    margin: 0.5em 0;
    padding: 0.5em;
    background-color: green;
    text-decoration: none;
    border-radius: 5px;
}