.PostContent {
  margin-bottom: 2em;
  padding: 0.5em 1em;
  background: #f3f3f3;
  border-radius: 5px;
}

.PostContent-title {
  text-transform: capitalize;
}

.PostContent-author {
  font-size: 0.8em;
}

.PostComments-list {
  padding-left: 1em;
}

.PostComment {
  margin-bottom: 2em;
  padding: 0 0 0.5em 0;
  list-style: none;
  border-bottom: 1px solid grey;
}

.PostComment:last-child {
  border: none;
}

.PostComment-title {
  text-transform: capitalize;
  margin-bottom: 0;
}

.PostComment-author {
  font-size: 0.8em;
}
